{:deps {org.clojars.bzg/organ {:mvn/version "1.0.2"}}
 :paths ["src"]
 :tasks
 {orgy {:doc  "Run orgy (e.g. bb orgy -i myblog, bb orgy -i myblog serve)"
        :task (do (require 'bzg.orgy)
                  (apply (resolve 'bzg.orgy/-main) *command-line-args*))}}}
